<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<script src="{{ root_url }}/components/platform/platform.js"></script>
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link rel="import" href="{{ root_url }}/components/core-header-panel/core-header-panel.html">
<link rel="import" href="{{ root_url }}/components/paper-button/paper-button.html">
<link rel="import" href="{{ root_url }}/components/core-toolbar/core-toolbar.html">
<link rel="import" href="{{ root_url }}/components/core-icon-button/core-icon-button.html">
<link rel="import" href="{{ root_url }}/components/core-icons/core-icons.html">
<link rel="import" href="{{ root_url }}/components/custom/app-bar/app-bar.html">
